@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
}

input {
  outline: none;
}

textarea {
  outline: none;
}

*::-webkit-scrollbar {
  width: 8px; /* 스크롤바 너비 */
}

*::-webkit-scrollbar-thumb {
  background-color: #333; /* 스크롤바의 thumb 색상 지정 */
}

*::-webkit-scrollbar-track {
  background-color: #f4f4f4; /* 스크롤바 트랙의 색상 지정 */
}
