<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCSsTalZeKGXENRUFfyNQO7SJSCSybRDf4</string>
	<key>GCM_SENDER_ID</key>
	<string>9477581922</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.timekey.app</string>
	<key>PROJECT_ID</key>
	<string>timekeeper-push</string>
	<key>STORAGE_BUCKET</key>
	<string>timekeeper-push.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:9477581922:ios:f0d350747c6733e392b53b</string>
</dict>
</plist>